
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

@theme {
  --default-font-family: Intel One Mono, sans-serif; 
}